
/* * @Author: lenovo
* @Date:   2017-04-12 09:36:12
* @Last Modified by:   lenovo
* @Last Modified time: 2017-04-12 16:25:32
*/ 

*{
	margin: 0;
	padding: 0;
	list-style: none;
	/*font-size: 12px;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-appearance: none;/*安卓不支持*/
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;	
	-webkit-overflow-scrolling: touch;
	<a href="tel:110">请拨打电话110</a>
	<a href="mailto:qq@.com">请发送邮件qq@.com</a>
	-webkit-user-select:none;user-select:none;
	 -webkit-tap-highlight-color:rgba(255,255,255,0); 
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-transform: translate(0,0,0);
	/*transform: translate3d(0, 0, 0);*/

}
a{
	display: block;
}
img{
	display: block;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	overflow: scroll;
}
/* 头部开始 */
.header{
	width: 100%;
	height: 0.43rem;
	background: #000;
}
.header h1{
	color: #fff;
	font-size: 0.2rem;
	line-height: 0.43rem;
	text-align: center;
}
.header{
	position:absolute;
	top: 0;
	left: 0;
}
.header1{
	width: 0.43rem;
	height: 0.43rem;
	margin: -0.4rem 0.1rem;
}
.header1 img{
	width: 0.14rem;
	margin-top: 0.05rem;
}
/* 头部结束 */
/* 侧栏开始 */
.sidebar{
	width: 100%;
	height: auto;
	background: blue;
}
.sidebar1{
	position:absolute;
	left: 0;
	bottom: 0;
}
/* .a1{
	width: 0.96rem;
	height: 6.02rem;
} */
.sidebar1{
	width: 0.96rem;
	height: 6.24rem;
	float: left;
	background: #DADADA;
}
.sidebara li{
	width: 0.96rem;
	height: 0.48rem;
	font-size: 0.14rem;
	padding: 0.1rem;
	box-sizing: border-box;
}
.sidebara li:hover{
	background: #fff;
}
.sidebarb{
	width: 2.79rem;
	height: 6.02rem;
	float: right;
}
.sidebarr{
	width: 0.96rem;
	height: 6.02rem;
}
.sidebard1{
	width: 2.79rem;
	height: 0.40rem;
	background: #fff;
	margin: -0.05rem 0rem;
	position:absolute;
	right: 0;
}
.sidebard1 li{
	width:0.93rem;
	height: 0.48rem;
	font-size: 0.12rem;
	float: left;
	text-align: center;
	line-height: 0.48rem;
}
.sidebarr{
	width: 100%;
	height: 0.48rem;
}
.sidebare{
	width: 2.55rem;
	height: 1.12rem;
	margin: 0 auto;
	border-bottom: 0.01rem solid #DADADA;
}
.sidebare1{
	width: 0.96rem;
	height: 0.96rem;
	float: left;
	margin-top: 0.1rem;
}
.sidebare1 img{
	width: 100%;
}
.sidebare2{
	width: 1.57rem;
	height: 0.36rem;
	float: left;
	padding: 0 0 0 0.1rem;
	box-sizing: border-box;
	margin-top: 0.1rem;
}
.sidebare2 p{
	font-size: 0.1rem;
}
.sidebare3{
	width: 1.57rem;
	height: 0.2rem;
	float: left;
	margin-top: 0.1rem;
}
.sidebare3 h1{
	font-size: 0.15rem;
	color: #FF7D66;
}
.sidebare4{
	width: 100%;
	height: 0.65rem;
}
/* 侧栏结束 */
/* 底部固定不动 开始 */
.gd{
	width: 100%;
	height: 0.65rem;
	position:absolute;
	bottom: 0;
	left: 0;
}
.gd1{
	width: 25%;
	height: 0.65rem;
	background: #fff;
	float: left;
	border-top: 0.01rem solid #DADADA;
}
.gd1 img{
	width: 100%;
}
/* 底部固定不动 结束 